<% @tracks.each do |track| %>
    <p>
        <%= button_to "Add", {controller: 'playlists', action: 'update', track_id: track.id}, method: :put %>
        <%= "#{track.name} - #{track.artists.first.name}  _  #{track.album.name}" %>
    </p>
<% end %>